body {
    font-family: sans-serif;
    background-color: #f0f0f0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;

}
  
#display {
    width: 200px; 
    height: 50px;
    background-color: #222; 
    color: #fff;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 20px;
}
  
.numbers {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.operators{
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#zero{
    width: 50%;
}

#back{
    width: 50%;
}
button {
    justify-content: space-between;
    width: 66px;
    height: 50px;
    background-color: #ccc;
    border: 1px bold black;
    font-size: 20px;
}
  
button:hover {
    background-color: #ddd;
}
  